// bower:scss
// endbower
@font-face {
  src: url('../fonts/AvenirNextCyr-Regular.woff');
  font-family: "Avenir Next Cyr";
  font-weight: 400;
}

@font-face {
  src: url('../fonts/AvenirNextCyr-Bold.woff');
  font-family: "Avenir Next Cyr - Bold";
  font-weight: 700;
}

@font-face {
  src: url('../fonts/AvenirNextCyr-Medium.woff');
  font-family: "Avenir Next Cyr Medium";
  font-weight: 500;
}

@font-face {
  src: url('../fonts/AvenirNextCyr-Demi.woff');
  font-family: "Avenir Next Cyr - Demi";
  font-weight: 400;
}

body {
  overflow-x: hidden;
  background: #ffffff;
  color: #000000;
  font-family: 'Avenir Next Cyr', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
}

.z-header {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  padding: 30px 0;

  &-nav {
    display: inline-block;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: inline-block;

      a {
        display: inline-block;
        margin: 4px 60px 4px 0;
        color: #32241e;
        font-family: "Avenir Next Cyr - Demi";
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #7f9925 !important;
          text-decoration: underline;
        }
      }
    }
  }

  &-logo {
    display: inline-block;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &-right {
    display: inline-flex;
    flex-flow: row wrap;
    align-items: center;
  }

  &-basket {
    display: inline-block;
    position: relative;
    margin-left: 55px;
    margin-bottom: 4px;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &-number {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    min-width: 20px;
    height: 20px;
    left: 0;
    bottom: 0;
    margin-bottom: -10px;
    margin-left: -10px;
    padding: 2px;
    border-radius: 999rem;
    background-color: #7f9925;
    color: #ffffff;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
  }

  &-instagram {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    margin-left: 45px;
    background-color: rgba(211, 224, 193, 0.15);
    padding: 2px;
    border-radius: 999rem;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      img {
        filter: brightness(100);
      }

      background: #7f9925;
      text-decoration: none;
    }
  }

  &-phone {
    display: inline-flex;
    align-items: center;
    position: relative;

    p {
      display: inline-block;
      margin: 0;
      color: #32241e;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      .z-header-icon {
        background: #7f9925;

        img {
          filter: brightness(100);
        }
      }

      p {
        color: #7f9925;
      }

      text-decoration: none;
    }
  }

  &-icon {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 15px;
    background-color: rgba(211, 224, 193, 0.15);
    padding: 2px;
    border-radius: 999rem;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      background: #7f9925;
      text-decoration: none;
    }
  }
}

.z-top {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 30px 0;
  background: #25585c url('../images/home_top.jpg') no-repeat center;
  background-size: cover;

  &__nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
    margin: 370px 0 170px 0;
    padding: 0;
    list-style: none;

    li {
      display: block;

      a {
        display: block;
        position: relative;
        width: 480px;
        margin: 0 0 20px 0;
        padding: 30px 12px;
        border-radius: 2px;
        border: 1px dashed transparent;
        background-color: rgba(50, 36, 30, 0.45);
        color: #ffffff;
        font-family: "Avenir Next Cyr";
        font-size: 50px;
        font-weight: 400;
        text-align: center;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          border-color: #d3e0c1;
          text-decoration: none;
        }
      }
    }
  }

  &__video {
    display: flex;
    align-items: center;
    position: relative;
    padding: 0 0 10px 90px;
    color: #ffffff;
    font-family: "Avenir Next Cyr - Demi";
    font-size: 16px;
    font-weight: 400;
    transition: all 0.2s ease-out;

    p {
      display: inline-block;
      width: 100%;
      max-width: 215px;
      margin: 0;
      color: #ffffff;
      transition: all 0.2s ease-out;
    }

    &:before {
      display: block;
      position: absolute;
      content: '';
      left: 0;
      bottom: 0;
      width: 60px;
      height: 135px;
      background: url('../images/icon_video.png') no-repeat center;
      background-size: contain;
      transition: all 0.2s ease-out;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      &:before {
        background: url('../images/icon_video_hover.png') no-repeat center;
      }

      text-decoration: none;
    }
  }
}

.z-home-nav {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0 0 120px 0;
  list-style: none;

  li {
    display: inline-block;

    a {
      display: inline-block;
      position: relative;
      width: 295px;
      margin-bottom: 5px;
      padding: 18px;
      border: 1px dashed #d3e0c1;
      background-color: #ecefe8;
      color: #32241e;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 18px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background: #ffffff;
        color: #32241e;
        text-decoration: none;
      }
    }
  }
}

.z-home-services {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding-bottom: 90px;

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 350px;
    margin-bottom: 30px;
    background: #ffffff;

    &-image {
      display: block;
      width: 100%;
      height: 170px;
      object-fit: cover;
    }

    &-title {
      display: block;
      width: 100%;
      min-height: 94px;
      margin: 0;
      padding: 27px 30px;
      border: 1px dashed #d3e0c1;
      color: #32241e;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
    }
  }
}

.z-home-categories {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;
  padding-bottom: 90px;

  &__card {
    display: block;
    position: relative;
    width: 100%;
    min-height: 215px;
    margin-bottom: 30px;
    background-position: center center;
    background-size: 100%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &_size {
      &_middle {
        max-width: 735px;
        min-height: 430px;
      }

      &_small {
        max-width: 480px;
      }
    }

    &:hover,
    &:active,
    &:focus {
      background-size: 120%;
      text-decoration: none;

      .z-home-categories__card-content {
        background: transparent;
      }

      .z-home-categories__card-arrow {
        background: #d3e0c1;
      }
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(38, 27, 23, 0) 0%, rgba(38, 27, 23, 0) 53%, rgba(38, 27, 23, 0.8) 70%, #261b17 100%);
      transition: all 0.2s ease-out;
    }

    &-footer {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      position: relative;
      width: 100%;
      padding: 30px;
      transition: all 0.2s ease-out;
    }

    &-title {
      display: inline-block;
      margin: 0;
      color: #ecefe8;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 28px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }

    &-arrow {
      display: inline-block;
      padding: 17px 30px;
      border-radius: 5px;
      background-color: rgba(211, 224, 193, 0.15);
      transition: all 0.2s ease-out;

      img {
        max-width: 100%;
        transition: all 0.2s ease-out;
      }
    }
  }
}

.z-home-prices {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: stretch;
  position: relative;
  width: 100%;
  padding-bottom: 90px;

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 350px;
    min-height: 220px;
    margin-bottom: 30px;
    background-position: center center;
    background-size: 100%;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      .z-home-prices__card-content {
        background: transparent;
      }

      .z-home-prices__card-price {
        background: #d3e0c1;
        color: #7f9925;
      }

      background-size: 120%;
      text-decoration: none;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: flex-end;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 15px;
      background-image: linear-gradient(to bottom, rgba(38, 27, 23, 0) 0%, rgba(38, 27, 23, 0) 53%, rgba(38, 27, 23, 0.8) 70%, #261b17 100%);
      transition: all 0.2s ease-out;
    }

    &-price {
      display: block;
      width: 100%;
      margin: 0;
      padding: 17px;
      border-radius: 5px;
      background-color: rgba(211, 224, 193, 0.15);
      color: #ecefe8;
      font-size: 24px;
      font-family: "Avenir Next Cyr - Bold";
      font-weight: 700;
      text-align: center;
      transition: all 0.2s ease-out;
    }

    &-ruble {
      font-family: 'Roboto';
      font-weight: 700;
    }
  }
}

.z-home-why {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: flex-start;
  position: relative;
  width: 100%;
  padding-bottom: 90px;

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 26px 0;
    color: #000000;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 24px;
    font-weight: 700;
  }

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 480px;
    margin-bottom: 30px;
    background: #ffffff;

    &-image {
      display: block;
      width: 100%;
      height: 305px;
      object-fit: cover;
    }

    &-title {
      display: block;
      width: 100%;
      min-height: 103px;
      margin: 0;
      padding: 27px 30px;
      border: 1px dashed #d3e0c1;
    }

    &-this {
      display: block;
      margin: 0;
      color: #32241e;
      font-family: "Avenir Next Cyr - Bold";
      font-size: 20px;
      font-weight: 700;
    }

    &-text {
      display: block;
      margin: 4px 0 0 0;
      font-family: "Avenir Next Cyr Medium";
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.z-home-clients {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 90px;

  &__title {
    display: block;
    margin: 0 0 45px 0;
    color: #000000;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 24px;
    font-weight: 700;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__card {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 148px;
    height: 100px;
    margin-bottom: 3px;
    padding: 10px;
    border-radius: 5px;
    border: 1px dashed #d3e0c1;
    background-color: #ffffff;

    img {
      display: block;
      max-width: 100%;
      filter: grayscale(100);
    }
  }
}

.z-home-form {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 120px;
  padding: 60px 250px 45px 125px;
  background: url('../images/home_form_bg.jpg') no-repeat center;
  background-size: cover;

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  &__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
  }

  &__title {
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 0 0 50px 0;
    color: #ffffff;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 24px;
    font-weight: 700;
  }

  &__text {
    display: block;
    width: 100%;
    max-width: 220px;
    margin: 0 0 15px 0;
    color: #ffffff;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  &__this {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 735px;
  }

  &__input {
    display: block;
    position: relative;

    &-icon {
      display: block;
      position: absolute;
      left: 30px;
      top: 18px;
      width: 24px;
      height: 24px;
      object-fit: scale-down;
      object-position: center center;
    }

    input {
      display: block;
      width: 350px;
      margin-bottom: 15px;
      padding: 20px 20px 20px 70px;
      border-radius: 5px;
      border: 1px dashed #d3e0c1;
      outline: none;
      background-color: #ffffff;
      color: #070707;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #7f9925;
        background: #d3e0c1;
      }
    }
  }

  &__button {
    display: block;
    width: 350px;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    background-color: #7f9925;
    color: #ffffff;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      border: 1px dashed #d3e0c1;
      background-color: #ffffff;
      color: #7f9925;
      text-decoration: none;
    }
  }
}

.z-home-instagram {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 120px;

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    position: relative;
    width: 100%;
    margin-bottom: 30px;
  }

  &__title {
    display: inline-block;
    margin: 0 0 20px 0;
    color: #000000;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 24px;
    font-weight: 700;

    img {
      display: inline-block;
      margin-left: 14px;
      margin-top: -6px;
    }
  }

  &__button {
    display: inline-block;
    padding: 14px 45px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    background-color: #7f9925;
    color: #ffffff;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: center;

    img {
      filter: brightness(100);
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      img {
        filter: none;
      }

      border: 1px dashed #d3e0c1;
      background-color: #ffffff;
      color: #7f9925;
      text-decoration: none;
    }
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
  }

  &__card {
    display: block;
    position: relative;
    width: 498px;
    height: 498px;
    margin-bottom: 3px;
    overflow: hidden;
    background-position: center center;
    background-size: cover;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      .z-home-instagram__card-content {
        opacity: 1;
      }

      text-decoration: none;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      padding: 30px;
      background-color: rgba(50, 36, 30, 0.85);
      opacity: 0;
      transition: all 0.2s ease-out;
    }

    &-like {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      transition: all 0.2s ease-out;

      img {
        display: block;
        max-width: 100%;
        margin: 0 auto;
        transition: all 0.2s ease-out;
      }
    }

    &-likes {
      display: block;
      position: relative;
      margin: 12px 0 0 0;
      color: #ffffff;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 20px;
      font-weight: 400;
      text-align: center;
      transition: all 0.2s ease-out;
    }

    &-description {
      display: block;
      position: absolute;
      width: 100%;
      max-width: 405px;
      bottom: 30px;
      left: 30px;
      transition: all 0.2s ease-out;
    }

    &-author {
      display: block;
      margin: 0 0 2px 0;
      font-size: 16px;
      font-weight: 400;
      color: #7f9925;
      font-family: "Avenir Next Cyr - Demi";
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        color: #7f9925;
        text-decoration: underline;
      }
    }

    &-text {
      display: block;
      margin: 0;
      color: #ffffff;
      font-family: "Avenir Next Cyr";
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }
  }
}

.z-bottom {
  display: block;
  position: relative;
  width: 100%;
}

.z-footer {
  display: block;
  position: relative;
  width: 100%;
  padding: 30px 0;
  background-color: #ecefe8;

  &__logo {
    display: inline-block;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: underline;
    }
  }

  &__instagram {
    display: flex;
    align-items: center;

    img {
      max-width: 100%;
    }

    &-icon {
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      margin-right: 15px;
      border-radius: 999rem;
      background-color: #ffffff;

      img {
        max-width: 100%;
      }
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      .z-footer__instagram-icon {
        background: #7f9925;

        img {
          filter: brightness(100);
        }
      }

      text-decoration: none;
    }
  }

  &__row {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 30px;

    &>img {
      display: inline-block;
      margin-right: 15px;
    }

    p {
      display: block;
      margin: 0;
      color: #32241e;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__phone {
    display: block;
    margin: 0 0 6px 0;
    color: #32241e;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #7f9925;
      text-decoration: none;
    }
  }

  &__link {
    display: block;
    color: #32241e;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
    text-decoration: underline;
    cursor: pointer;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #7f9925;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 6px 0 0 0;
    color: #32241e;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  &__subtitle {
    display: block;
    margin: 0 0 26px 0;
    color: #32241e;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 16px;
    font-weight: 700;
  }

  &__nav {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;

      a {
        display: block;
        margin: 0 0 16px 0;
        color: #32241e;
        font-family: "Avenir Next Cyr";
        font-size: 16px;
        font-weight: 400;
        cursor: pointer;
        text-decoration: none;
        transition: all 0.2s ease-out;

        &:hover,
        &:active,
        &:focus {
          color: #7f9925;
          font-family: "Avenir Next Cyr - Demi";
          text-decoration: underline;
        }
      }
    }
  }
}

.z-copyright {
  display: block;
  position: relative;
  width: 100%;
  padding: 8px 0;
  background-color: #7f9925;
  color: #ecefe8;
  font-family: "Avenir Next Cyr - Demi";
  font-size: 16px;
  font-weight: 400;

  p {
    display: block;
    margin: 0;
  }
}

.z-breadcrumps {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 12px 30px;
  list-style: none;
  background-color: #ecefe8;
  color: #7f9925;
  font-family: "Avenir Next Cyr";
  font-size: 14px;
  font-weight: 400;

  span {
    display: inline-block;
    margin: 0 10px;
  }

  a {
    color: #7f9925;
    font-family: "Avenir Next Cyr";
    font-size: 14px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: underline;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #7f9925;
      text-decoration: none;
    }
  }
}

.z-page {
  display: block;
  position: relative;
  width: 100%;
  padding: 60px 0 90px 0;

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 auto 55px auto;
    color: #000000;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }
}

.z-services {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  width: 100%;

  &__card {
    display: inline-block;
    position: relative;
    width: 100%;
    max-width: 470px;
    margin-bottom: 30px;
    margin-right: 30px;
    background: #ffffff;

    &-image {
      display: block;
      width: 100%;
      height: 310px;
      object-fit: cover;
    }

    &-title {
      display: block;
      width: 100%;
      min-height: 1px;
      margin: 0;
      padding: 27px 30px;
      border: 1px dashed #d3e0c1;
    }

    &-this {
      display: block;
      margin: 0;
      color: #32241e;
      font-family: "Avenir Next Cyr - Bold";
      font-size: 20px;
      font-weight: 700;
    }

    &-text {
      display: block;
      margin: 4px 0 0 0;
      font-family: "Avenir Next Cyr Medium";
      font-size: 16px;
      font-weight: 500;
    }
  }
}

.z-blogs {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  width: 100%;

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 470px;
    margin-bottom: 60px;
    margin-right: 30px;
    border: 1px dashed #d3e0c1;
    background: #ffffff;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;

      .z-blogs__card-title {
        color: #32241e;
      }

      .z-blogs__card-text {
        color: #32241e;
      }

      .z-blogs__card-date {
        color: #32241e;
      }

      .z-blogs__card-arrow {
        background-color: #d3e0c1;
      }
    }

    &-header {
      display: block;
      position: relative;
      width: 100%;
      height: 310px;
      padding: 30px;
      background-position: center;
      background-size: cover;
      transition: all 0.2s ease-out;
    }

    &-likes {
      display: inline-flex;
      align-items: center;
      padding: 10px 30px;
      border-radius: 5px;
      background-color: rgba(211, 224, 193, 0.15);
      transition: all 0.2s ease-out;

      img {
        display: inline-block;
        margin-right: 15px;
        transition: all 0.2s ease-out;
      }
    }

    &-number {
      display: inline-block;
      margin: 0;
      color: #7f9925;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 26px 30px 30px 30px;
      transition: all 0.2s ease-out;
    }

    &-title {
      display: block;
      height: 48px;
      margin: 0 0 20px 0;
      overflow: hidden;
      color: #331f18;
      font-family: "Avenir Next Cyr - Bold";
      font-size: 20px;
      font-weight: 700;
      transition: all 0.2s ease-out;
    }

    &-text {
      display: block;
      height: 57px;
      margin: 0 0 15px 0;
      overflow: hidden;
      color: #331f18;
      font-family: "Avenir Next Cyr";
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }

    &-footer {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
      transition: all 0.2s ease-out;
    }

    &-date {
      display: inline-block;
      margin: 0;
      color: #331f18;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;
    }

    &-arrow {
      display: inline-block;
      padding: 17px 30px;
      border-radius: 5px;
      background-color: rgba(211, 224, 193, 0.15);
      transition: all 0.2s ease-out;
    }
  }
}

.z-gallery {
  display: block;
  position: relative;
  width: 100%;

  &__big {
    display: block;
    position: relative;
    width: 100%;
    max-width: 990px;
    margin: 0 auto 40px auto;

    .slick-next,
    .slick-prev {
      width: 40px;
      height: 40px;
      top: 50%;
      opacity: 1;
      z-index: 1;
      transition: all 0.2s ease-out;

      &:hover {
        opacity: 0.7;
      }
    }

    .slick-next {
      margin-right: -50px;
      background: url("../images/icon_slick_next.png");

      &:before {
        display: none;
      }
    }

    .slick-prev {
      margin-left: -50px;
      background: url("../images/icon_slick_prev.png");

      &:before {
        display: none;
      }
    }

    &-card {
      display: block;
      position: relative;
      width: 100%;
      max-width: 990px;
      height: 660px;
      margin: 0 auto;
      object-fit: cover;
      object-position: center center;
    }
  }

  &__small {
    display: block;
    position: relative;
    width: 100%;

    .slick-slide.slick-current {
      .item {
        position: relative;

        &:before {
          display: block;
          position: absolute;
          content: '';
          left: 0;
          top: 0;
          width: 212px;
          height: 100%;
          background-color: rgba(50, 36, 30, 0.5);
          z-index: 1;
        }
      }
    }

    &-card {
      display: block;
      position: relative;
      width: 212px;
      height: 150px;
    }
  }
}

.z-business {
  display: block;
  position: relative;
  width: 100%;

  &__big {
    display: block;
    max-width: 100%;
    margin: 10px auto 55px auto;
  }

  &__content {
    display: block;
    width: 100%;
    max-width: 735px;
    margin: 0 auto;
    color: #32241e;
    font-family: "Avenir Next Cyr - Demi";
    font-size: 16px;
    font-weight: 400;

    p {
      display: block;
      margin: 0 0 25px 0;
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__button {
    display: block;
    width: 100%;
    max-width: 350px;
    margin-bottom: 15px;
    padding: 20px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    background-color: #7f9925;
    color: #ffffff;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      border: 1px dashed #d3e0c1;
      background-color: #ffffff;
      color: #7f9925;
      text-decoration: none;
    }
  }
}

.z-sort {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 50px;

  &__row {
    display: inline-flex;
    align-items: center;
    position: relative;
    margin: 0 30px 10px 0;
  }

  &__label {
    display: inline-block;
    margin: 0 30px 0 0;
    color: #32241e;
    font-family: "Avenir Next Cyr - Demi";
    font-size: 18px;
    font-weight: 400;
  }

  &__select {
    display: block;
    position: relative;
    width: 100%;
    border-radius: 5px;
    border: 1px dashed #d3e0c1;
    background-color: #ffffff;
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 24px;
      right: 16px;
      width: 10px;
      height: 6px;
      background: url('../images/icon_dropdown.png') no-repeat center;
      background-size: contain;
    }

    select {
      display: block;
      width: 100%;
      padding: 16px 30px 16px 16px;
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }
}

.z-catalog {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: stretch;
  position: relative;
  width: 100%;
  padding-bottom: 30px;

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 340px;
    margin: 0 30px 30px 0;
    border: 1px dashed #d3e0c1;

    &-header {
      display: block;
      width: 100%;
      height: 340px;
      background-position: center;
      background-size: cover;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }
    }

    &-content {
      display: block;
      position: relative;
      width: 100%;
      padding: 12px 15px 15px 15px;
    }

    &-code {
      display: block;
      margin: 0;
      color: #32241e;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 14px;
      font-weight: 400;
    }

    &-text {
      display: block;
      margin: 0 0 10px 0;
      color: #32241e;
      font-family: "Avenir Next Cyr";
      font-size: 14px;
      font-weight: 400;
    }

    &-row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: center;
    }

    &-price {
      display: inline-block;
      color: #32241e;
      font-family: "Avenir Next Cyr - Bold";
      font-size: 20px;
      font-weight: 700;
    }

    &-ruble {
      color: #32241e;
      font-family: "Roboto";
      font-size: 20px;
      font-weight: 700;
    }

    &-button {
      display: inline-block;
      padding: 12px 30px;
      border: 1px solid transparent;
      outline: none;
      border-radius: 5px;
      background-color: #7f9925;
      color: #ffffff;
      font-family: "Avenir Next Cyr - Bold";
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 0.8px;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        border: 1px dashed #d3e0c1;
        background-color: #ffffff;
        color: #7f9925;
        text-decoration: none;
      }
    }
  }
}

.z-pagination {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: stretch;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style: none;

  &_active {
    a {
      background-color: #7f9925 !important;
      color: #ffffff !important;
    }
  }

  li {
    display: inline-block;

    span {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      height: 40px;
      margin: 0 7px 4px 7px;
      padding: 4px;
      border-radius: 5px;
      color: #32241e;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
    }

    a {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      height: 40px;
      margin: 0 7px 4px 7px;
      padding: 4px;
      border-radius: 5px;
      background-color: #ecefe8;
      color: #32241e;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
      text-align: center;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background-color: #7f9925;
        color: #ffffff;
        text-decoration: none;
      }
    }
  }
}

.z-blog {
  display: block;
  position: relative;
  width: 100%;
  color: #32241e;
  font-family: "Avenir Next Cyr";
  font-size: 16px;
  font-weight: 400;

  p {
    display: block;
    margin: 0 0 30px 0;
    color: #32241e;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  &__header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 25px;
  }

  &__title {
    display: inline-block;
    margin: 0;
    color: #000000;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 24px;
    font-weight: 700;
  }

  &__date {
    display: inline-block;
    padding: 14px 30px;
    border-radius: 5px;
    border: 1px dashed #d3e0c1;
    color: #32241e;
    font-family: "Avenir Next Cyr - Demi";
    font-size: 16px;
    font-weight: 400;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
    padding: 30px 0 50px 0;
  }

  &__card {
    display: block;
    position: relative;
    width: 100%;
    max-width: 745px;
    width: 748px;
    height: 500px;
    margin: 0 3px 3px 0;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      .z-blog__card-content {
        opacity: 1;
      }

      text-decoration: none;
    }

    &-content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;
      height: 100%;
      background-color: rgba(50, 36, 30, 0.85);
      opacity: 0;
      transition: all 0.2s ease-out;

      img {
        max-width: 100%;
        transition: all 0.2s ease-out;
      }
    }
  }

  &__row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: stretch;
    position: relative;
    width: 100%;
  }

  &__button {
    display: inline-block;
    margin-bottom: 10px;
    padding: 18px 30px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    background-color: #7f9925;
    color: #ffffff;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      border: 1px dashed #d3e0c1;
      background-color: #ffffff;
      color: #7f9925;
      text-decoration: none;
    }
  }
}

.z-info {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  padding: 25px 30px 15px 30px;
  border: 1px dashed #d3e0c1;
  background-color: #ffffff;

  &__title {
    display: block;
    margin: 0 0 25px 0;
    color: #32241e;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 20px;
    font-weight: 700;
  }

  a {
    color: #32241e;
    font-family: "Avenir Next Cyr";
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      color: #7f9925;
      text-decoration: none;
    }
  }

  ul {
    display: block;
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 12px;
      padding-left: 22px;
      color: #32241e;
      font-family: "Avenir Next Cyr";
      font-size: 16px;
      font-weight: 400;

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 6px;
        height: 6px;
        top: 8px;
        left: 0;
        border-radius: 999rem;
        background-color: #7f9925;
      }
    }
  }

  b,
  strong {
    color: #7f9925;
    font-family: "Avenir Next Cyr - Bold";
    font-weight: 700;
  }

  &__ruble {
    font-family: 'Roboto';
    font-weight: 700;
  }

  &__pay {
    display: block;
    position: relative;
    width: 100%;
    padding: 15px 0;

    &-card {
      display: inline-block;
      width: 134px;
      height: 60px;
      margin: 0 3px 3px 0;
      object-fit: scale-down;
    }
  }
}

.z-order {
  display: block;
  position: relative;
  width: 100%;

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__title {
    display: block;
    margin: 0;
    padding: 16px 30px;
    border: 1px dashed #d3e0c1;
    background-color: #ecefe8;
    color: #32241e;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 20px;
    font-weight: 700;
  }

  &__card {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: -1px;
    padding: 30px;
    border: 1px dashed #d3e0c1;
    background-color: #ffffff;

    &-image {
      display: inline-block;
      width: 120px;
      height: 120px;
      margin-right: 30px;
      object-fit: cover;
    }

    &-info {
      display: inline-block;
      width: 175px;
      margin: 0 30px 0 0;
    }

    &-code {
      display: block;
      margin: 0 0 10px 0;
      color: #32241e;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
    }

    &-text {
      display: block;
      margin: 0;
      color: #32241e;
      font-family: "Avenir Next Cyr";
      font-size: 16px;
      font-weight: 400;
    }

    &-counter {
      display: inline-block;
      position: relative;
      width: 97px;
      margin-right: 60px;

      input {
        display: block;
        width: 100%;
        padding: 12px 30px;
        border: none;
        outline: none;
        border-radius: 5px;
        background-color: #ecefe8;
        color: #32241e;
        font-family: "Avenir Next Cyr - Demi";
        font-size: 16px;
        font-weight: 400;
        text-align: center;
      }
    }

    &-price {
      display: inline-block;
      width: 125px;
      margin: 0;
      color: #32241e;
      font-family: "Avenir Next Cyr - Bold";
      font-size: 20px;
      font-weight: 700;
    }

    &-ruble {
      font-family: 'Roboto';
      font-weight: 700;
    }

    &-close {
      display: inline-flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      width: 40px;
      height: 40px;
      padding: 4px;
      border-radius: 999rem;
      background-color: #ecefe8;
      text-align: center;

      img {
        max-width: 100%;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        background-color: #7f9925;
        color: #ffffff;
        text-decoration: none;

        img {
          filter: brightness(100);
        }
      }
    }

    &-minus {
      display: inline-block;
      position: absolute;
      left: 0;
      top: 0;
      padding: 21px 0 21px 14px;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }
    }

    &-plus {
      display: inline-block;
      position: absolute;
      right: 0;
      top: 0;
      padding: 16px 14px 16px 0;
      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }

  &__summ {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 15px;
    padding: 18px 30px;
    border: 1px dashed #d3e0c1;
    background-color: #ecefe8;
  }

  &__text {
    display: inline-block;
    color: #32241e;
    font-family: "Avenir Next Cyr - Demi";
    font-size: 16px;
    font-weight: 400;
  }

  &__number {
    display: inline-block;
    color: #7f9925;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 20px;
    font-weight: 700;

    span {
      font-family: 'Roboto';
      font-weight: 700;
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 20px;
    margin-top: 15px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    background-color: #7f9925;
    color: #ffffff;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: center;

    img {
      filter: brightness(100);
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      img {
        filter: none;
      }

      border: 1px dashed #d3e0c1;
      background-color: #ffffff;
      color: #7f9925;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    width: 100%;
    margin: 25px 0 0 0;
    color: #32241e;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  &__input {
    display: block;
    position: relative;

    &-icon {
      display: block;
      position: absolute;
      left: 15px;
      top: 14px;
      width: 24px;
      height: 24px;
      object-fit: scale-down;
      object-position: center center;
    }

    input {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 16px 20px 16px 55px;
      border-radius: 5px;
      border: 1px dashed #d3e0c1;
      outline: none;
      background-color: #ffffff;
      color: #070707;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #7f9925;
        background: #d3e0c1;
      }
    }
  }

  &__textarea {
    display: block;
    position: relative;

    &-icon {
      display: block;
      position: absolute;
      left: 15px;
      top: 18px;
      width: 24px;
      height: 24px;
      object-fit: scale-down;
      object-position: center center;
    }

    textarea {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 20px 20px 20px 55px;
      border-radius: 5px;
      border: 1px dashed #d3e0c1;
      outline: none;
      background-color: #ffffff;
      color: #070707;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #7f9925;
        background: #d3e0c1;
      }
    }
  }

  &__label {
    display: block;
    widows: 100%;
    margin: 0 0 27px 0;
    color: #070707;
    font-family: "Avenir Next Cyr - Demi";
    font-size: 16px;
    font-weight: 400;
  }

  &__select {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px dashed #d3e0c1;
    background-color: #ffffff;
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;

    &:after {
      display: block;
      position: absolute;
      content: '';
      top: 24px;
      right: 16px;
      width: 10px;
      height: 6px;
      background: url('../images/icon_dropdown.png') no-repeat center;
      background-size: contain;
    }

    select {
      display: block;
      width: 100%;
      padding: 16px 30px 16px 16px;
      border: none;
      outline: none;
      box-shadow: none;
      background-color: transparent;
      background-image: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
    }
  }

  &__date {
    display: block;
    position: relative;
    width: 100%;

    input {
      display: block;
      width: 100%;
      min-height: 53px;
      margin-bottom: 15px;
      padding: 14px 20px 14px 15px;
      border-radius: 5px;
      border: 1px dashed #d3e0c1;
      outline: none;
      background-color: #ffffff;
      color: #070707;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
    }

    input[type="text"]+.z-order__calendar {
      & {
        display: block;
      }
    }
  }

  &__calendar {
    display: none;
    position: absolute;
    top: 5px;
    right: 5px;
    width: 44px;
    height: 44px;
    border-radius: 5px;
    object-fit: scale-down;
    background-color: #ecefe8;
  }

  &__radiobutton {
    display: flex;
    align-items: center;
    position: relative;
    widows: 100%;
    margin-bottom: 14px;
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;

    span {
      display: block;
      position: relative;
      width: 100%;
      padding-left: 35px;
      padding-bottom: 2px;
      background: url('../images/radiobutton.png') no-repeat left top;
    }

    input {
      width: 0;
      height: 0;
      overflow: hidden;
      opacity: 0;

      &:checked~span {
        & {
          display: block;
          position: relative;
          width: 100%;
          padding-left: 35px;
          padding-bottom: 2px;
          background: url('../images/radiobutton_checked.png') no-repeat left top;
        }
      }
    }
  }
}

.z-item {
  display: block;
  position: relative;
  width: 100%;
  padding-bottom: 90px;

  &__big {
    display: block;
    max-width: 100%;
  }

  &__title {
    display: block;
    margin: 0 0 55px 0;
    color: #32241e;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 24px;
    font-weight: 700;
  }

  &__price {
    display: block;
    margin: 0;
    color: #7f9925;
    font-size: 30px;
    font-family: "Avenir Next Cyr - Bold";
    font-weight: 700;
  }

  &__ruble {
    font-family: 'Roboto';
    font-weight: 700;
  }

  &__button {
    display: block;
    width: 100%;
    min-height: 55px;
    margin-bottom: 10px;
    padding: 16px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    background-color: #7f9925;
    color: #ffffff;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: center;

    &_custom {
      border: 2px solid #7f9925;
      background-color: #ffffff;
      color: #7f9925;

      &:hover {
        border: 2px dashed #7f9925 !important;
      }
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      border: 1px dashed #d3e0c1;
      background-color: #ffffff;
      color: #7f9925;
      text-decoration: none;
    }
  }

  &__info {
    display: block;
    margin: 6px 0 10px 0;
    color: #32241e;
    font-family: "Avenir Next Cyr - Demi";
    font-size: 16px;
    font-weight: 400;
  }

  &__row {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;

    &-small {
      display: inline-block;
      margin: 0 30px 0 0;
      color: #32241e;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
    }
  }

  &__counter {
    display: inline-block;
    position: relative;
    width: 132px;

    input {
      display: block;
      width: 100%;
      padding: 10px 30px;
      border: none;
      outline: none;
      border-radius: 5px;
      background-color: #ecefe8;
      color: #32241e;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
      text-align: center;
    }
  }

  &__minus {
    display: inline-block;
    position: absolute;
    left: 0;
    top: 0;
    padding: 19px 0 19px 14px;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  &__plus {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 0;
    padding: 14px 14px 14px 0;
    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      opacity: 0.7;
      text-decoration: none;
    }
  }

  input[type=number]::-webkit-inner-spin-button,
  input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  &__collapse {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 15px;
    border: 1px dashed #d3e0c1;

    &-header {
      display: block;
      position: relative;
      width: 100%;
      padding: 12px 30px;

      &_active {
        &:after {
          transform: rotate(180deg);
        }
      }

      &:after {
        display: block;
        position: absolute;
        content: '';
        width: 10px;
        height: 6px;
        right: 30px;
        top: 18px;
        background: url('../images/icon_dropdown.png') no-repeat center;
        background-size: contain;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }
    }

    &-title {
      display: block;
      color: #070707;
      font-family: "Avenir Next Cyr - Bold";
      font-size: 16px;
      font-weight: 700;
    }

    &-content {
      display: none;
      position: relative;
      width: 100%;
      padding: 15px 30px 30px 30px;
      color: #32241e;
      font-family: "Avenir Next Cyr";
      font-size: 16px;
      font-weight: 400;

      ul {
        display: block;
        position: relative;
        width: 100%;
        margin: 0;
        padding: 0;
        list-style: none;

        li {
          display: block;
          position: relative;
          width: 100%;
          margin-bottom: 4px;
          padding-left: 22px;
          color: #32241e;
          font-family: "Avenir Next Cyr";
          font-size: 16px;
          font-weight: 400;

          &:before {
            display: block;
            position: absolute;
            content: '';
            width: 6px;
            height: 6px;
            top: 8px;
            left: 0;
            border-radius: 999rem;
            background-color: #7f9925;
          }
        }
      }

      b,
      strong {
        color: #32241e;
        font-family: "Avenir Next Cyr - Demi";
        font-weight: 400;
      }
    }
  }

  &__pay {
    display: block;
    position: relative;
    width: 100%;
    padding: 10px 0;

    img {
      display: inline-block;
      width: 105px;
      height: 55px;
      margin: 0 3px 3px 0;
    }
  }
}

.z-more {
  display: block;
  position: relative;
  width: 100%;

  &__title {
    display: block;
    margin: 0 0 55px 0;
    color: #000000;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  &__cards {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: stretch;
    position: relative;
    width: 100%;
  }
}

.z-popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow-y: auto;
  z-index: 100;

  &__centered {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(50, 36, 30, 0.75);
  }

  &__close {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 999rem;
    background-color: #ecefe8;
    right: 15px;
    top: 15px;
    z-index: 1;

    img {
      max-width: 100%;
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      img {
        filter: brightness(100);
      }

      background: #7f9925;
      text-decoration: none;
    }
  }

  &__content {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
    width: 100%;
    max-width: 480px;
    margin: 10px 0;
    padding: 25px 30px 30px 30px;
    background: #ffffff;
  }

  &__title {
    display: block;
    position: relative;
    width: 100%;
    margin: 0 0 25px 0;
    color: #000000;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 24px;
    font-weight: 700;
    text-align: center;
  }

  &__text {
    display: block;
    margin: 0 0 10px 0;
    color: #32241e;
    font-family: "Avenir Next Cyr - Demi";
    font-size: 16px;
    font-weight: 400;
  }

  &__image {
    display: block;
    position: relative;
    width: 100%;
    height: 420px;
    margin: 0 0 25px 0;
    padding: 15px;
    background-position: center center;
    background-size: cover;
  }

  &__code {
    display: inline-block;
    padding: 12px 16px;
    border-radius: 5px;
    background-color: rgba(211, 224, 193, 0.15);
    color: #ffffff;
    font-family: "Avenir Next Cyr - Demi";
    font-size: 16px;
    font-weight: 400;
  }

  &__form {
    display: block;
    position: relative;
    width: 100%;
  }

  &__input {
    display: block;
    position: relative;

    &-icon {
      display: block;
      position: absolute;
      left: 15px;
      top: 14px;
      width: 24px;
      height: 24px;
      object-fit: scale-down;
      object-position: center center;
    }

    input {
      display: block;
      width: 100%;
      margin-bottom: 15px;
      padding: 16px 20px 16px 55px;
      border-radius: 5px;
      border: 1px dashed #d3e0c1;
      outline: none;
      background-color: #ffffff;
      color: #070707;
      font-family: "Avenir Next Cyr - Demi";
      font-size: 16px;
      font-weight: 400;
      transition: all 0.2s ease-out;

      &:focus {
        border-color: #7f9925;
        background: #d3e0c1;
      }
    }
  }

  &__button {
    display: block;
    width: 100%;
    padding: 20px;
    border: 1px solid transparent;
    outline: none;
    border-radius: 5px;
    background-color: #7f9925;
    color: #ffffff;
    font-family: "Avenir Next Cyr - Bold";
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: center;

    img {
      filter: brightness(100);
    }

    cursor: pointer;
    text-decoration: none;
    transition: all 0.2s ease-out;

    &:hover,
    &:active,
    &:focus {
      img {
        filter: none;
      }

      border: 1px dashed #d3e0c1;
      background-color: #ffffff;
      color: #7f9925;
      text-decoration: none;
    }
  }

  ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  ::-moz-placeholder {
    /* Firefox 19+ */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  :-ms-input-placeholder {
    /* IE 10+ */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }

  :-moz-placeholder {
    /* Firefox 18- */
    color: #070707;
    font-family: "Avenir Next Cyr";
    font-size: 16px;
    font-weight: 400;
  }
}

.z-contacts {
  display: block;
  position: relative;
  width: 100%;
  padding: 0 0 120px 0;

  &__line {
    display: flex;
    align-items: stretch;
    position: relative;
    width: 100%;
    margin-bottom: 60px;
  }

  &__content {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    border: 1px dashed #d3e0c1;
    background-color: #ffffff;
    padding: 30px 30px 45px 30px;
  }

  &__title {
    display: block;
    margin: 0;
    color: #32241e;
    font-family: "Avenir Next Cyr";
    font-size: 20px;
    font-weight: 700;
  }

  &__social {
    display: block;
    position: relative;
    width: 100%;
    margin-top: 25px;

    a {
      display: inline-block;
      margin: 0 5px 5px 0;

      img {
        width: 40px;
        height: 40px;
        object-fit: scale-down;
      }

      cursor: pointer;
      text-decoration: none;
      transition: all 0.2s ease-out;

      &:hover,
      &:active,
      &:focus {
        opacity: 0.7;
        text-decoration: none;
      }
    }
  }
  &__map {
    display: block;
    position: relative;
    width: 100%;
    max-width: 1150px;
    min-height: 400px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1530px;
  }
  .z-top {
    min-height: calc(100vw / 2);
    &>.container {
      display: flex;
      flex-flow: column nowrap;
      justify-content: space-between;
      align-items: flex-start;
      position: relative;
    }
  }
}

@media (max-width: 1199px) {
  .z-top__nav li {
    width: 100%;

    a {
      width: 100%;
    }
  }

  .z-home-form__row {
    flex-flow: row wrap;
    justify-content: space-around;
  }

  .z-top__nav {
    margin: 40px 0;
  }

  .z-top__header-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
  }

  .z-top__header-nav li a {
    margin: 0;
    padding: 6px;
  }

  .z-top {
    padding: 15px 0 20px 0;
  }

  .z-top__header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .z-top__header-instagram {
    margin: 0 2px 4px 2px;
  }

  .z-top__header-basket {
    margin: 0 2px 4px 2px;
  }

  .z-top__header-right {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .z-top__nav li a {
    margin-bottom: 10px;
    padding: 16px 10px;
  }

  .z-top__nav li a {
    font-size: 36px;
  }

  .z-home-nav {
    justify-content: space-around;
  }

  .z-home-nav {
    padding: 30px 0;
  }

  .z-home-services {
    justify-content: space-around;
  }

  .z-home-categories__card {
    background-size: cover;
  }

  .z-home-services__card {
    margin-bottom: 10px;
  }

  .z-home-services {
    justify-content: space-around;
    padding-bottom: 30px;
  }

  .z-home-categories__card {
    width: 100% !important;
    max-width: 100% !important;
    height: 200px !important;
    min-height: 200px !important;
    margin-bottom: 10px;
  }

  .z-home-categories__card-title {
    font-size: 20px;
  }

  .z-home-categories__card-footer {
    padding: 20px 10px;
  }

  .z-home-categories {
    justify-content: space-around;
    padding-bottom: 30px;
  }

  .z-home-prices {
    justify-content: space-around;
    padding-bottom: 30px;
  }

  .z-home-prices__card {
    margin-bottom: 10px;
  }

  .z-home-why__card-image {
    height: 200px;
  }

  .z-home-why__card-title {
    min-height: auto;
  }

  .z-home-why__card {
    margin-bottom: 10px;
  }

  .z-home-why {
    justify-content: space-around;
    padding-bottom: 30px;
  }

  .z-home-instagram__header {
    justify-content: space-around;
    text-align: center;
  }

  .z-home-instagram__cards {
    justify-content: space-around;
  }

  .z-home-instagram__card {
    width: 100%;
    max-width: 300px;
    height: 240px;
  }

  .z-home-instagram__card-content {
    justify-content: flex-start;
  }

  .z-home-instagram__card-description {
    width: 100%;
    height: 117px;
    overflow: hidden;
    left: 0;
    bottom: 0;
    padding: 0 10px 20px 10px;
  }

  .z-home-instagram {
    padding-bottom: 30px;
  }

  .z-home-why__title {
    margin-bottom: 20px;
    text-align: center;
  }

  .z-home-form {
    margin-bottom: 30px;
    padding: 20px 10px;
    background: #25585c url('../images/home_top.jpg') no-repeat center;
  }

  .z-home-form__input input {
    width: 100%;
  }

  .z-home-form__button {
    width: 100%;
  }

  .z-home-form__title {
    max-width: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .z-home-form__text {
    max-width: auto;
    margin-bottom: 20px;
    text-align: center;
  }

  .z-home-form__this {
    display: block;
  }

  .z-home-clients__title {
    margin-bottom: 20px;
    text-align: center;
  }

  .z-home-clients__cards {
    justify-content: space-around;
  }

  .z-home-clients {
    padding-bottom: 30px;
  }

  .z-footer {
    padding: 20px 0;
  }

  .z-footer__logo {
    margin-bottom: 10px;
  }

  .z-footer__row {
    margin: 10px 0;
  }

  .z-footer__subtitle {
    margin: 10px 0;
  }

  .z-header-nav {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
  }

  .z-header-nav li a {
    margin: 0;
    padding: 6px;
  }

  .z-header {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }

  .z-header-instagram {
    margin: 0 2px 4px 2px;
  }

  .z-header-basket {
    margin: 0 2px 4px 2px;
  }

  .z-header-right {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }

  .z-page {
    padding: 30px 0;
  }

  .z-page__title {
    margin-bottom: 20px;
  }

  .z-services {
    justify-content: space-around;
  }

  .z-services__card {
    margin: 0 0 10px 0;
  }

  .z-services__card-image {
    height: 200px;
  }

  .z-blogs {
    justify-content: space-around;
  }

  .z-blogs__card {
    margin: 0 0 10px 0;
  }

  .z-blogs__card-header {
    height: 200px;
  }

  .z-gallery__big .slick-next {
    margin-right: 15px;
  }

  .z-gallery__big .slick-prev {
    margin-left: 15px;
  }

  .z-gallery__big-card {
    max-width: 300px;
    height: 240px;
  }

  .z-gallery__big {
    margin-bottom: 10px;
  }

  .z-gallery__small-card {
    width: 100%;
    height: 150px;
  }

  .z-gallery__small .slick-slide.slick-current .item:before {
    width: 100%;
  }

  .z-business__big {
    margin-bottom: 20px;
  }

  .z-sort__select {
    width: 100% !important;
  }

  .z-sort {
    margin-bottom: 10px;
  }

  .z-catalog {
    justify-content: space-around;
  }

  .z-catalog__card {
    margin: 0 0 10px 0;
  }

  .z-catalog__card-header {
    height: 200px;
  }

  .z-blog__header {
    justify-content: space-around;
    text-align: center;
  }

  .z-blog__title {
    margin-bottom: 10px;
  }

  .z-blog__cards {
    justify-content: space-around;
    padding: 5px 0 20px 0;
  }

  .z-blog__card {
    max-width: 300px;
    height: 300px;
  }

  .z-blog__row {
    justify-content: space-around;
  }

  .z-order__card {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    padding: 20px 10px 10px 10px;
    text-align: center;
  }

  .z-order__card-info {
    width: 100%;
    margin: 15px 0;
  }

  .z-order__card-counter {
    margin: 0 0 10px 0;
  }

  .z-order__card-price {
    margin: 0 0 10px 0;
  }

  .z-order__card-close {
    margin: 0 0 10px 0;
  }

  .z-order__card-image {
    margin: 0 auto;
  }

  .z-popup__image {
    height: 300px;
  }

  .z-item__title {
    margin: 20px 0;
  }

  .z-page {
    .row {
      margin-bottom: 10px !important;
    }
  }

  .z-item {
    padding-bottom: 30px;
  }

  .z-more__title {
    margin-bottom: 20px;
  }
  .z-contacts__line {
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  .z-contacts {
    padding-bottom: 30px;
  }
  .z-contacts__line {
    margin-bottom: 20px;
  }
}

@media (max-width: 991px) {}

@media (max-width: 767px) {}
